[submodule "content"]
	path = content
	url = git@github.com:standingflower0607/SachieBox.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
